.ieq-container{display:flex;
               max-width: 1600px;
               margin: 0 auto;
               height: auto;
               background-color: var(--ieq-color-black);
               
              }


               

           