:root{

    /*colors*/
    --ieq-color-black:#0D0D0D;
    --ieq-color-yellow:#F2BD1D;
    --ieq-color-blue:#118EBF;
    --ieq-color-purple:#79328C;
    --ieq-color-purple-II:#BA12E0;
    --ieq-color-red:#E02307;
    --ieq-color-red-II:#E0122F;
    --ieq-color-white:#FFFFFF;
    --ieq-color-gray:#4f4f4f;
    --ieq-color-gray-II:#dcdcdc;
    --ieq-color-bg-50:rgba(21,22,23,.5)

   


}